.navbar {
	width: 6rem;
	padding: 0;
	margin: 0;
	transition: width 200ms ease;
}

.nav-link {
	text-decoration: none;
	padding: 12px;
	margin: 8px 0px;
	height: 4rem;
	filter: grayscale(100%) opacity(0.7);
}

.navtitle {
	padding-left: 16px;
}

.person {
	width: 24px;
	height: 24px;
}

.link-text {
	display: none;
	font-size: 1.25rem;
}

.navbar:hover {
	width: 16rem;
}

.navbar:hover .link-text {
	display: block;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  color: white;
}

.open {
	display: block;
}

.close {
	display: none;
}