.nav-container {
  z-index: 1;
  position: absolute;
}

.rightbar {
	width: 6rem;
	padding: 0;
	margin: 0;
	transition: width 200ms ease;
}

.link-item {
	text-decoration: none;
	padding: 12px;
	margin: 8px 0px;
	height: 4rem;
	filter: grayscale(100%) opacity(0.7);
}

.navtitle {
	padding-left: 16px;
}

.person {
	width: 24px;
	height: 24px;
}

.link-text {
	display: none;
	font-size: 1.25rem;
}

.rightbar:hover {
	width: 16rem;
}

.rightbar:hover .link-text {
	display: block;
}

.link-item:hover {
  filter: grayscale(0%) opacity(1);
  color: white;
}

/*以下為複製貼上*/
#content {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  top: 0;
  bottom: 0;
  border: solid 1px red; 
  overflow: 
  }


#searchbar {
  width: 397px;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
}


#searchbar2 {
  padding: 12px 14px 36px 24px;
  margin: -4px 0px -5px 0px;
}

#searchbar3 {
  border-top: 1px solid dark-grey;
}

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
.open {
  display: block;
}

.close {
  display: none;
}