.register-container {
  background-color: white;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 將內容在交叉軸上垂直置中 */
  min-height: 100vh; /* 設置最小高度，確保至少填滿整個視窗高度 */
}

main {
  flex: 1; /* 使 main 佔據剩餘的空間 */
}

.register-form-container {
	width: 450px;
}

.register-form {
  border: 1px solid gray;
}

/* Responsive setting */
.register-image {
	width: 450px;
  display: block;
}
@media screen and (min-width:375px) { 
	.register-form-container {
		width: 450px;
	}
}
@media (max-width: 900px) {
  .register-image {
    display: none;
  }
}

@media (max-width: 600px) {
  .register-form {
    border: none;
  }
}

@media (max-width: 375px) {
  .register-form-container {
    width: 100%;
  }
  .description {
    display: none;
  }
}

/* Footer */
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
}

.flex-item {
  text-decoration: none;
  color: gray;
}
