.user-image {
    float: left;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image a{
    height: 100%;
    width: 100%;
}

.user-image img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}