.modal-header {
    border-bottom: 0 none;
    float: right;
}
/*
.modal {
	background-color: transparent;
	margin: 0;
	display: flex;
	align-items: center;
	width: 1000px;
}

.modal-dialog {
	background-color: transparent;
	margin: 0;
	display: flex;
	align-items: center;
	width: 1000px;
}
*/
.modal-content {
	background-color: black;
	margin-left: auto;
    margin-right: auto;
}

.main-modal {
	margin-left: auto;
    margin-right: auto;
	min-width: 80%;

}
#postimg {
  width: 100%;
}

body {
	background-color: black;
}

.post-container {
	max-width: 470px;
}

div.user-img {
   width: 2rem;
   height: 2rem;
   border: none;
   border-radius: 50%;
   overflow: hidden;
   background-position: center;
}

div.user-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.square {
	content: "";
  	display: block;
	padding-bottom: 100%;
	position: relative;
}

.square img {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
}