

.comment-form-textarea {
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
}

input:focus {
    outline: none;
}


.comment-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-form-button {
	color: #428bca;
	font-weight: bold;
}